<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="django_website" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python_Study\python_Tools\Envs\Django项目-xo-W22HZ\Scripts\python.exe|D:\Python_Study\python_Tools\Envs\Django项目-xo-W22HZ\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
